* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

.clear {
    clear: both;
}

section { height: auto;}
.form table{width:50%;}
.product {width: 20%; height: auto; float:left; margin: 5%;}
.order { border: 1px solid #cccccc; width:100%; margin: 1%;}
.order tr:first-child{ width:100%; background-color:#e1eee7 ; color: #006666;}
.order td{ color:black; width: 15%;}
.plantimg { width:100px; height: 100px;}
.shopping { width:70%;}

